# Python
__pycache__/
*.py[cod]
venv/
*.env

# Node
node_modules/
.next/
.env.local

# IDE
.vscode/
.idea/

# Other
.DS_Store

# Ignore environment variable files
.env
backend/.env
frontend/.env
*.env
